#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.halo {
  position: fixed; /* Siempre sobre la pantalla */
  width: 80px; /* Halo mÃ¡s pequeÃ±o */
  height: 80px; /* Halo mÃ¡s pequeÃ±o */
  background: rgba(255, 0, 0, 0.1); /* Color inicial del halo con baja opacidad */
  border-radius: 50%;
  filter: blur(20px); /* Difuminado mÃ¡s sutil */
  pointer-events: none; /* No bloquea interacciones */
  transition: transform 0.2s ease-out, opacity 0.5s ease-in-out, background 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  opacity: 0.8; /* Baja opacidad */
  z-index: 9999; /* Asegura que estÃ© sobre todo */
}

.background {
  position:initial; /* Mantiene el layout intacto */
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 1s ease; /* TransiciÃ³n suave del fondo */
}

.header {
  width: 100%;
  height: 150px; /* Ajusta la altura según prefieras */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image {
  width: 70%;
  height: 50%;
  object-fit:fill; /* Ajusta la imagen para que se vea bien */
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  min-width: 400px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
  text-align: left;
  font-weight: bold;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr:hover {
}