#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-image {
  width: 70%;
  height: 50%;
  object-fit:fill;
}

.footer {
  width: 100%;
  padding: 0.8rem 1.5rem;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  z-index: 0001; /* Asegura que estÃ© sobre todo */
}

.footer-text {
  font-weight: 300;
}

.footer-logo img {
  width: 18px;
  height: 18px;
  transition: transform 0.2s ease-in-out;
  opacity: 0.7; 
}

.footer-logo a:hover img {
  transform: scale(1.4);
  opacity: 1; 
}



@media (hover: none) {
  .halo {
    display: none;
  }
}

@media (max-width: 768px) {
  .table-container {
    overflow-x: auto;
  }
}